@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.foto-perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-image: url("../assets/fotocaricatura.png");
  background-size: cover;
  background-position: center;
}

.photo-logoc {
  border: 1px solid white;
  width: 312px;
  height: 312px;
  border-radius: 2%;
  object-fit: cover;
  background-image: url("../assets/logopixelstore.png");
  background-size: cover;
  background-position: center;
}

.photo-logoh {
  width: 380px;
  height: 380px;
  border-radius: 15%;
  background-image: url("../assets/logopixelstore.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-login {
  display: flex;
  justify-content: center;
  align-items: center;     
  height: 100vh;   
  min-height : 100vh;     
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.center-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.form {
  background-color: #122e2d; 
  color: white;            
  padding: 1.5rem;     
  border: 1px solid white;   
}

.form-two {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: space-between
}

.button-create {
  display: flex;
  justify-content: end;
}

.layout {
  
}
